HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Maven/Gradle wrappers
/.mvn/wrapper/maven-wrapper.jar

# SSH/keys
id_rsa*
id_ed25519*
*.pem
*.ppk
*.pub
